In [1]:
import pandas as pd
import numpy as np

In [78]:
cols = pd.read_csv('City Council/2011_November Municipal (General) City Council At Large Results.csv').columns
df = pd.DataFrame(0, index=np.arange(len(list(range(255)))), columns = cols[:20])
df = df.drop('Ward', axis=1)
df = df.drop('Precinct', axis=1)
df = df.drop('Unnamed: 3', axis=1)
df = df.drop('DESHON PORTER Write-in', axis=1)
df = df.drop('ALTHEA GARRISON Write-in', axis=1)
df = df.rename({'WILL DORCENA' : 'MICHAEL F FLAHERTY', 'AYANNA PRESSLEY' : 'ALEJANDRA NICOLE STGUILLEN', 'FELIX G ARROYO' : 'MICHELLE WU',
           'JOHN R CONNOLLY' : 'JULIA MEJIA', 'MICHAEL F FLAHERTY' : 'ERIN J MURPHY', 'STEPHEN J MURPHY' : 'ALTHEA GARRISON', 
           'SEAN H RYAN' : 'DAVID HALBERT', 'WILLIAM B FEEGBEH Write-in' : 'ANNISSA ESSAIBI GEORGE'}, axis=1)

In [79]:
count = 0
for i in range(1,23):
    temp = pd.read_csv('2019 City Council Wards/ward' + str(i) + '-2019.csv')
    try:
        for n in temp.columns[1:-1]:
            if i < 10:
                if int(n) < 10:
                    wp = '0' + str(i) + '0' + str(n)
                else:
                    wp = '0' + str(i) + str(n)
            else:
                if int(n) < 10:
                    wp = str(i) + '0' + str(n)
                else:
                    wp = str(i) + str(n)
            entry = [wp]
            for x in range(12):
                entry.append(temp.loc[x, n])
            entry.append(0)
            entry.append(0)
            df.loc[count] = entry
            count += 1
    except ValueError:
        print(i)
        display(temp)
df = df.drop('Total', axis=1)
df = df.drop(254)
df

,Ward/Precinct,MICHAEL F FLAHERTY,ALEJANDRA NICOLE STGUILLEN,MICHELLE WU,JULIA MEJIA,ERIN J MURPHY,ALTHEA GARRISON,DAVID HALBERT,ANNISSA ESSAIBI GEORGE,ALL OTHERS,VOTES CAST,BLANKS,BALLOTS CAST,Registered Voters
0,0101,119,92,180,93,51,54,136,163,4,892,228,280,0
1,0102,72,53,86,55,29,19,42,73,0,429,159,147,0
2,0103,174,145,207,167,64,59,104,175,4,1099,397,374,0
3,0104,52,57,79,54,22,19,36,66,4,389,111,125,0
4,0105,65,57,78,50,35,18,42,70,1,416,116,133,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,2209,111,86,161,62,56,45,45,177,2,745,367,278,0
250,2210,146,125,245,98,74,82,50,207,3,1030,346,344,0
251,2211,152,69,157,64,74,69,28,128,2,743,253,249,0
252,2212,155,86,155,69,85,71,38,135,0,794,334,282,0
253,2213,114,73,138,54,56,47,38,102,0,622,266,222,0

In [76]:
cols = pd.read_csv('City Council/2011_November Municipal (General) City Council At Large Results.csv').columns
df2 = pd.DataFrame(0, index=np.arange(len(list(range(255)))), columns = cols[:20])
df2 = df2.drop('Ward', axis=1)
df2 = df2.drop('Precinct', axis=1)
df2 = df2.drop('Unnamed: 3', axis=1)
df2 = df2.drop('DESHON PORTER Write-in', axis=1)
df2 = df2.drop('ALTHEA GARRISON Write-in', axis=1)
df2 = df2.rename({'WILL DORCENA' : 'STEPHEN J MURPHY', 'AYANNA PRESSLEY' : 'DOUG BENNETT',
           'JOHN R CONNOLLY' : 'TITO JACKSON', 'MICHAEL F FLAHERTY' : 'TOMAS GONZALEZ', 'STEPHEN J MURPHY' : 'JOHN R CONNOLLY', 
           'SEAN H RYAN' : 'ANDREW P KENNEALLY', 'WILLIAM B FEEGBEH Write-in' : 'AYANNA S PRESSLEY'}, axis=1)

In [77]:
count = 0
for i in range(1,23):
    temp = pd.read_csv('2009 City Council Wards/ward' + str(i) + '-2009.csv')
    try:
        for n in temp.columns[1:-1]:
            if i < 10:
                if int(n) < 10:
                    wp = '0' + str(i) + '0' + str(n)
                else:
                    wp = '0' + str(i) + str(n)
            else:
                if int(n) < 10:
                    wp = str(i) + '0' + str(n)
                else:
                    wp = str(i) + str(n)
            entry = [wp]
            for x in range(12):
                entry.append(temp.loc[x, n])
            entry.append(0)
            entry.append(0)
            df2.loc[count] = entry
            count += 1
    except ValueError:
        print(i)
        display(temp)
df2 = df2.drop('Total', axis=1)
df2 = df2.drop(254)
df2

,Ward/Precinct,STEPHEN J MURPHY,DOUG BENNETT,FELIX G ARROYO,TITO JACKSON,TOMAS GONZALEZ,JOHN R CONNOLLY,ANDREW P KENNEALLY,AYANNA S PRESSLEY,ALL OTHERS,VOTES CAST,BLANKS,BALLOTS CAST,Registered Voters
0,0101,175,62,116,63,41,188,186,73,5,909,679,397,0
1,0102,147,52,71,25,43,129,115,41,4,627,465,273,0
2,0103,242,88,217,93,138,217,195,127,2,1319,1081,600,0
3,0104,78,44,38,18,11,72,73,25,0,359,373,183,0
4,0105,116,54,82,23,34,110,157,37,4,617,527,286,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,2209,144,46,106,70,30,153,78,111,2,740,476,304,0
250,2210,276,56,189,72,44,235,125,171,6,1174,706,470,0
251,2211,190,33,118,45,25,163,76,89,2,741,523,316,0
252,2212,211,46,127,47,37,186,103,91,2,850,638,372,0
253,2213,170,40,77,41,21,155,93,83,0,680,436,279,0

In [99]:
cols = pd.read_csv('Mayoral Election/2013_ November Municipal (General) Mayoral Results.csv').columns
df3 = pd.DataFrame(0, index=np.arange(len(list(range(255)))), columns = cols[1:11])
df3 = df3.drop('DAVID JAMES WYATT (WRITE-IN)', axis=1)
df3 = df3.rename({'JOHN R CONNOLLY' : 'THOMAS M MENINO', 'MARTY J WALSH' : 'MICHAEL F FLAHERTY',
           'LEE BUCKLEY (WRITE-IN)' : 'WILLIAM FEEGBEH (WRITE-IN)'}, axis=1)

In [101]:
count = 0
for i in range(1,23):
    temp = pd.read_csv('2009 Mayor Wards/ward' + str(i) + '-2009.csv')
    try:
        for n in temp.columns[1:-1]:
            if i < 10:
                if int(n) < 10:
                    wp = '0' + str(i) + '0' + str(n)
                else:
                    wp = '0' + str(i) + str(n)
            else:
                if int(n) < 10:
                    wp = str(i) + '0' + str(n)
                else:
                    wp = str(i) + str(n)
            entry = [wp]
            for x in range(7):
                entry.append(temp.loc[x, n])
            entry.append(0)
            df3.loc[count] = entry
            count += 1
    except ValueError:
        print(i)
        display(temp)
df3 = df3.drop(254)
df3

,Ward Precinct,THOMAS M MENINO,MICHAEL F FLAHERTY,WILLIAM FEEGBEH (WRITE-IN),ALL OTHERS,VOTES CAST,BLANKS,BALLOTS CAST,Registered Voters
0,0101,200,193,0,0,393,4,397,0
1,0102,166,105,0,2,273,0,273,0
2,0103,365,229,0,0,594,6,600,0
3,0104,115,66,0,0,181,2,183,0
4,0105,164,121,0,0,285,1,286,0
...,...,...,...,...,...,...,...,...,...
249,2209,147,155,0,0,302,2,304,0
250,2210,244,220,0,3,467,3,470,0
251,2211,168,142,0,1,311,5,316,0
252,2212,192,171,0,2,365,7,372,0
253,2213,144,134,0,1,279,0,279,0