In [1]:
import pandas as pd
import numpy as np

In [34]:
districts = {'District 1' : ['0101', '0102', '0103', '0104', '0105', '0106', '0107', '0108', '0109', '0110',
                            '0111', '0112', '0113', '0114', '0201', '0202', '0203', '0204', '0205', '0206',
                            '0207', '0301', '0302', '0303', '0304'], 
             'District 2' : ['0306', '0307', '0308', '0601', '0602', '0603', '0604', '0605', '0606', '0607',
                            '0608', '0609', '0701', '0702', '0703', '0704', '0705', '0706', '0401', '0402',
                            '0403', '0501', '0801', '0901'],
             'District 3' : ['0708', '0709', '0710', '1303', '1305', '1306', '1307', '1308', '1309', '1310',
                            '1501', '1503', '1504', '1506', '1507', '1508', '1509', '1602', '1604', '1605',
                            '1606', '1607', '1608', '1609', '1610', '1611', '1612', '1713', '0115', '0802',
                            '0806', '0707'],
             'District 4' : ['1401', '1402', '1403', '1404', '1406', '1407', '1408', '1409', '1410', '1411',
                            '1412', '1413', '1502', '1505', '1603', '1701', '1702', '1703', '1704', '1705',
                            '1706', '1707', '1708', '1708', '1709', '1710', '1711', '1712', '1714', '1801',
                            '1807', '1601', '1912'],
             'District 5' : ['1805', '1806', '1808', '1812', '1813', '1814', '1815', '1816', '1817', '1818',
                            '1819', '1821', '1823', '1820', '1809', '1810', '1811', '1822', '1910', '1911', 
                            '1913', '2002', '2004', '2008', '2009', '1405', '1414', '1802', '1803', '1804'],
             'District 6' : ['1006', '1007', '1008', '1009', '1104', '1105', '1106', '1107', '1108', '1109',
                            '1110', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909',
                            '2001', '2003', '2005', '2006', '2007', '2010', '2011', '2012', '2013', '2014',
                            '2015', '2016', '2017', '2018', '2019', '2020'],
             'District 7' : ['0803', '0804', '0807', '0903', '0904', '0905', '1101', '1102', '1103', '1201',
                             '1202', '1203', '1204', '1205', '1206', '1207', '1208', '1209', '0805', '1301',
                             '1302', '1304', '0404', '0902', '0405', '0408', '0409'],
             'District 8' : ['0503', '0504', '0505', '0506', '0507', '0508', '0509', '0510', '0511', '0406',
                            '0407', '0410', '0502A', '1001', '1002', '1003', '1004', '1005', '0305', '2101',
                            '2102'],
             'District 9' : ['2201', '2202', '2103', '2104', '2105', '2106', '2107', '2108', '2109', '2110',
                            '2111', '2112', '2113', '2114', '2115', '2116', '2203', '2204', '2205', '2206',
                            '2207', '2208', '2209', '2210', '2211', '2212', '2213']}

In [38]:
df = pd.read_csv('Precinct_Demographics_Based_On_2015-19_ACS_Census_Data.csv')

new = pd.DataFrame(np.zeros((9, 6)), columns = df.columns[2:])

new.insert(0, 'DISTRICT', list(range(1,10)))

for i in range(len(districts)):
    for n in districts[list(districts.keys())[i]]:
        filt = df['WARD_PRECI'] == n
        temp = df[filt].reset_index(drop=False)
        new.loc[i, 'TOTAL'] += temp.loc[0, 'TOTAL']
        new.loc[i, 'WHITE'] += temp.loc[0, 'WHITE']
        new.loc[i, 'AFRICAN_AMERICAN'] += temp.loc[0, 'AFRICAN_AMERICAN']
        new.loc[i, 'NATIVE_AMERICAN'] += temp.loc[0, 'NATIVE_AMERICAN']
        new.loc[i, 'ASIAN'] += temp.loc[0, 'ASIAN']
        new.loc[i, 'OTHER'] += temp.loc[0, 'OTHER']

for i in range(len(new)):
        for n in new.columns[1:]:
            new.loc[i, n] = round(new.loc[i, n])

new

,DISTRICT,TOTAL,WHITE,AFRICAN_AMERICAN,NATIVE_AMERICAN,ASIAN,OTHER
0,1,61957.0,43859.0,2499.0,183.0,3109.0,2233.0
1,2,79345.0,57376.0,5056.0,120.0,11741.0,2844.0
2,3,68148.0,28644.0,20425.0,217.0,10122.0,5795.0
3,4,78568.0,13374.0,51784.0,291.0,3779.0,6018.0
4,5,81579.0,29546.0,40364.0,197.0,1629.0,6191.0
5,6,79866.0,54040.0,11863.0,102.0,4986.0,5779.0
6,7,73194.0,22727.0,31695.0,477.0,5139.0,9056.0
7,8,63516.0,44493.0,4467.0,135.0,10042.0,2279.0
8,9,73362.0,49459.0,4071.0,226.0,12863.0,4451.0

In [39]:
new.to_csv('City_Council_District_Estimated_Demographics_2015-2019.csv')